*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inav_1{
    grid-area: na;
    background-color: rgb(159, 160, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;

}
#machinarium_logo {
    height: 75%;
    width: 75%;
    position: relative;
    top: 10px;
    left: 35px;
}

h3 {
    margin: 15px;
}
/*
h1{

    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;

}
*/

#idiv_1 {
    background-color: rgba(96, 96, 110, 0.85);
    height: 10%;
    width: 40%;
    position: relative;
    top: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-family: 'Gloria Hallelujah';
    border-radius: 7px;
}

#idiv_2 {
    height: 20px;
    width: auto;
    font-size: 20px;
    position: relative;
    left: 70px;
    font-style: italic;
   
}

#idiv_3 {
    width: 70%;
    height: 600px;
    background-color:rgba(96, 96, 110, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;

}

#idiv_4 {
    width: 50%;
    height: 70px;
    position: relative;
    bottom: 20px;
    font-size: 135%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(104, 104, 108, 0.826) ;
    border-color: rgba(0, 0, 0, 0.301);
    border-style: solid;
    border-radius: 7px;
    font-family: 'Gloria Hallelujah';
    padding: 5px;
}


#idiv_5 {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    position: relative;
    left: 25px;
    font-size: 80%;
    width: 100px;

}
#idiv_6 {

    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    position: relative;
    left: 15px;
    font-size: 80%;
    width: 100px;
}

#idiv_7 {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    position: relative;
    font-size: 70%;
 
    
}


.container {
    height: 200px;
    font-family: 'Gloria Hallelujah';
    color: rgb(255, 255, 255);
    font-size: 25px;
}




.blink:hover {
    border: 3px dashed #ccc;
    padding: 20px;
    transition: all 0.2s ease;
}

.blink {
  border-color: transparent;
    
}

#icontainer_1 {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-around; 
    position: absolute;
    bottom: 0px;
    
}

#iimgcontainer_1 {
    height: 50%;
    width: auto;
    position: relative;
   

}

#iimgcontainer_2 {
    height: 50%;
    width: auto;
    position: relative;
}

#iimgcontainer_3 {
    height: 50%;
    width: auto;
    position: relative;
}




#burger div {
    width: 30px;
    height: 5.25px;
    background-color: rgb(31, 27, 25);
    border-radius: 15px;
    transition: all 0.5s;
    margin: 5px;
    
    
}

#iarticle_1 {
    background-color:rgba(96, 96, 110, 0.85);
    height: 500px;
    width: 300px;
    position: relative;
    top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    opacity: 100%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: rgb(218, 218, 218);
    margin: 5px;
    padding: 7px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.5px;
}

#iarticle_2 {
    width: 70%;
    height: 400px;
    font-size: 65%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#nav-links{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: rgb(113, 113, 113);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.75s;
    z-index: 3;
}

#nav-links li{
    list-style: none;
}

#nav-links a{
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: rgb(255, 255, 255);
    font-family: 'Gloria Hallelujah';
    font-weight: bold;
    text-transform: uppercase;


}

#burger {
    cursor: pointer;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-4px, 9px)
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -10px)
}

.nav_active {
    transform: translateY(600px);
}

#nav-links a:hover{
    cursor:pointer
}

#igrid_wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 750px 200px 800px 200px;
    grid-template-areas: 
    "he he na"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "fo fo fo"
    ;
}

header {
    grid-area: he;
    background: rgb(159, 160, 154);
    position: sticky;
    top: 0;
    z-index: 2;
    
    
}

#isection_1 {
    grid-area: s1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(/img/machinarium.background.crop.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


#isection_2 {
    grid-area: s2;
    background: rgb(147, 124, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}


#isection_3 {
    grid-area: s3;
    background: rgb(107, 103, 92);
    position: relative;
    background-image: url(/img/machinarium.background.2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#footer_1 {
    grid-area: fo;
    background: rgb(113, 113, 113);
    position: relative;
}



#amgrid_wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 750px 800px ;
    grid-template-areas: 
    "he he na"
    "s1 s1 s1"
    "s2 s2 s2"
    ;
}


.swiper {
    width: 100%;
    height: 100%;
  }


#swiper_img1 {
    background-image: url(/img/samorost.background.crop.jpg);
    background-size: cover;
}

#swiper_img2 {
    background-image: url(/img/botanicula.background.crop.jpeg);
    background-size: cover;

}

#swiper_img3 {
    background-image: url(/img/phonopolis.background.crop.jpg);
    background-size: cover;
}


#amcontainer_1 {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-around; 
    position: absolute;
    bottom: 0px;
    
}



#amsection_1 {
    grid-area: s1;
}


#amarticle_1 {
    display: flex;
    background-color: #ccc;
    position: relative;
    top: 10px;
    width: 70%;
    padding: 10px;
    border-radius: 6px;
    font-size: 75%;
    flex-direction: column;
 
}

#amdiv_2 {
    font-family: 'Gloria Hallelujah', cursive;
    color: red;
    display: flex;
    flex-direction: row;
}



#amsection_2 {
    grid-area: s2;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#amimg_1 {
    width: 45px;
    position: relative;
    bottom: 5px;
    left: 5px;
}



#argrid_wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 600px 55px 600px 50px 749.33px;
    grid-template-areas: 
    "he he na"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "s5 s5 s5"
    ;
}




#arsection_1 {
    grid-area: s1;
    background-image: url(/img/concept.art.4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

#arsection_2 {
    background-color: rgb( 159, 160, 154);
    grid-area: s2;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#arsection_3 { 
    grid-area: s3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/img/concept.art.3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    
}

#arsection_4 {
    background-color: rgb( 159, 160, 154);
    grid-area: s4;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#arsection_5 {
    grid-area: s5;    
}


#ardiv_1 {
    height: 540.34px;
    width: 100%;
    background-image: url(/img/concept.art.5.crop.webp);
    background-size: cover;
}

#ardiv_2 {
    height: 209px;
    width: 100%;
    background-color: rgb(30, 38, 38);
    position: relative;
    top: 5%px;

}

#ardiv_3 {
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 100px;
    background-image: url(/img/footer.1.png);
    background-size: cover;
}

#ararticle_2 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 82.5%;
    width: 50%;
    height: 350px;
    position: relative;
    left: 5%;
    top: 10%;
    display: flex;
    padding: 20px;
    border-radius: 7px;
}


/* */


#ardiv_5 {
    height: 12.5%;
    width: 50%;
    background-color: black;
    color: white;
    font-size: 90%;
    font-family: 'Gloria Hallelujah';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

}

#ararticle_1 {
    height: 350px;
    width: 50%;
    background-color: black;
    color: white;
    font-size: 65%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 50px;
    border-radius: 7px;
    padding: 20px;
}

#ardiv_7 {
    height: 10%;
    width: 70%;
    background-color: black;
    color: white;
    font-size: 65%;
    font-family: 'Gloria Hallelujah';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    
}


#engrid_wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 600px 25px 600px 20px 749.33px;
    grid-template-areas: 
    "he he na"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "s5 s5 s5"
    ;
}



#ensection_1 {
    grid-area: s1;
    background-image: url(/img/machinarium.background.4.crop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    
}

#ensection_2 {
    background-color: rgb( 159, 160, 154);
    grid-area: s2;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



#ensection_3 { 
    grid-area: s3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/img/machinarium.background.5.crop.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    
}

#ensection_4 {
    background-color: rgb( 159, 160, 154);
    grid-area: s4;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#ensection_5 {
    grid-area: s5;    
}


#endiv_1 {
    height: 10%;
    width: 70%;
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: 'Gloria Hallelujah';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    position: relative;
    bottom: 25%;
    
}

#enarticle_1 {
    height: 350px;
    width: 65%;
    background-color: black;
    color: white;
    font-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 15%;
    border-radius: 7px;
    padding: 20px;
}

#endiv_3 {
    height: 540.34px;
    width: 100%;
    background-image: url(/img/machinarium.background.6.crop.jpg);
    background-size: cover;
}

#enarticle_2 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    width: 50%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 10%;
    display: flex;
    padding: 20px;
    border-radius: 7px;
}

#endiv_5 {
    height: 209px;
    width: 100%;
    background-color: rgb(30, 38, 38);
    position: relative;

}

#endiv_6 {
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 100px;
    background-image: url(/img/footer.1.png);
    background-size: cover;
}



/* */








@media screen and (min-width: 800px){
   
   
    #grid_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px, 750px, 200px, 800px, 200px;
        grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "fo fo"
        ;
    }
    
    
    #nav-links {
        flex-direction: row;
        height: 100px;
        width: 50vw;
        background-color: rgb(159, 160, 154);
        top: 0px;
        transition: 0s;
    }

    .nav_active {
        transform: none;
        transition: 0s;
    }

    .burger_toggle {

        display: none;
    }

    #machinarium_logo {
        height: 80%;
        width: 37.5%;
        position: relative;
        top: 5px;
        left: 90px;
    }

    #idiv_1 {
        font-size: 35px;
        width: 22.5%;
    }
    #idiv_2 {
        height: 20px;
        width: auto;
        font-size: 20px;
        position: relative;
        left: 300px;
        font-style: italic;
       
    }

    #idiv_4 {
        position: relative;
        right: 12.5%;
        width: 45%;
       
    }

    

    #idiv_5 {
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        position: relative;
        left: 100px;
    }
    

    #idiv_6 {
    
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        position: relative;
      
    }
    
    #idiv_7 {
    
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        position: relative;
        right: 90px;
    }


    #iarticle_1 {
        background-color:rgba(96, 96, 110, 0.85);
        height: 500px;
        width: 300px;
        position: relative;
        top: 170px;
        right: 50%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        opacity: 100%;
        display: flex;
        justify-content: center;
        font-size: 13px;
        color: rgb(218, 218, 218);
        margin: 5px;
        padding: 7px;
        border-radius: 7px;
        font-size: 16px;
    }

    #iarticle_2 {
        width: 70%;
        height: 400px;
        font-size: 100%;
        color: white;
    }
    
    #icontainer_1 {
        background-color: transparent;
        width: 100%;
        height: auto;
        display: flex; 
        justify-content: space-around; 
        position: absolute;
        bottom: 0px;
        
    }
    
    #iimgcontainer_1 {
        height: 70%;
        width: auto;
        position: relative;
    
    }
    #iimgcontainer_3 {
        height: 70%;
        width: auto;
        position: relative;
    }
    
    #iimgcontainer_2 {
    height: 70%;
    width: auto;
    position: relative;
    }


    #isection_1 {
        grid-area: s1;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-image: url(/img/machinarium.background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }



    
    #swiper_img1 {
    background-image: url(/img/samorost.background.jpg);
    background-size: cover;
    }

    #swiper_img2 {
    background-image: url(/img/botanicula.background.jpg);
    background-size: cover;

    }

    #swiper_img3 {
    background-image: url(/img/phonopolis.background.webp);
    background-size: cover;
    }
    
    #amarticle_1 {
        display: flex;
        background-color: #ccc;
        position: relative;
        width: 80%;
        height: 75%;
        padding: 15px;
        border-radius: 6px;
        font-size: 115%;
        flex-direction: column;
    
     
    }

    #amimg_1 {
        width: 55px;

    }



    
#argrid_wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 600px 56px 528.33px 50px 799.33px;
    grid-template-areas: 
    "he he na"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "s5 s5 s5"
    ;
}

#arsection_1 {
    grid-area: s1;
}
    

#arsection_3 {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/img/concept.art.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    
}

#ardiv_1 {
    height: 540.34px;
    width: 100%;
    background-image: url(/img/concept.art.5.jpg);
    background-size: cover;
}

#ardiv_2 {
    height: 259px;
    width: 100%;
    background-color: rgb(30, 38, 38);
    position: relative;
    top: 0px;

}

#ardiv_3 {
    height: 260px;
    width: 100%;
    position: relative;
    bottom: 100px;
    background-image: url(/img/footer.2.png);
    background-size: cover;
}




#ararticle_2 {
    background-color: black;
    color: white;
    font-size: 105%;
    font-family: Arial, Helvetica, sans-serif;
    width: 32.5%;
    height: 370px;
    position: relative;
    left: 5%;
    top: 7.5%;
    display: flex;
    padding: 20px;
}


#ardiv_5 {
    height: 7.5%;
    width: 25%;
    background-color: black;
    color: white;
    font-size: 95%;
    font-family: 'Gloria Hallelujah';
    position: relative;
    left: 35%;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

}

#ararticle_1 {
    height: 60%;
    width: 25%;
    background-color: black;
    color: white;
    font-size: 62.5% ;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 35%;
    top: 10px;
    border-radius: 7px;
    padding: 20px;
}


#ardiv_7 {
    height: 12.5%;
    width: 50%;
    background-color: black;
    color: white;
    font-size: 105%;
    font-family: 'Gloria Hallelujah';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    
}


#engrid_wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 600px 75px 600px 70px 749.33px;
    grid-template-areas: 
    "he he na"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "s5 s5 s5"
    ;
}


#ensection_1{
    background-image: url(/img/machinarium.background.4.jpg);
}

#ensection_3{
    background-image: url(/img/machinarium.background.5.jpg);
}

#endiv_1 {
    height: 10%;
    width: 70%;
    background-color: black;
    color: white;
    font-size: 190%;
    font-family: 'Gloria Hallelujah';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    position: relative;
    bottom: 25%;
    
}

#enarticle_1 {
    font-size: 115%;
    bottom: 5%;
}


#endiv_3 {
    height: 540.34px;
    width: 100%;
    background-image: url(/img/machinarium.background.6.jpg);
    background-size: cover;
}

#enarticle_2 {
    font-size: 120%;
}


#endiv_6 {
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 90px;
    background-image: url(/img/footer.2.png);
    background-size: cover;
}


}

@media screen and (min-width: 1000px){
    #idiv_1{
        right: 15px;
    }

    #iarticle_1{
        right: 51.25%;
    }
    
    #iarticle_2{
        font-size: 19px;
    }
    
    #amarticle_1{
        font-size: 140%;
    }

    #ardiv_1{
        font-size: 122.5%;
    }
    #ardiv_5{
        height: 10%;
        font-size: 110%;
    }

    #ararticle_1{
        font-size: 80%;
    }

    #ardiv_7{
        width: 50%;
        font-size: 160%;
    }


    #engrid_wrapper {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: 100px 600px 75px 600px 70px 769.34px;
        grid-template-areas: 
        "he he na"
        "s1 s1 s1"
        "s2 s2 s2"
        "s3 s3 s3"
        "s4 s4 s4"
        "s5 s5 s5"
        ;
    }
    
    #endiv_1{
        width: 45%;
        font-size: 200%;
    }

    #enarticle_1{
        font-size: 150%;
    }

    #endiv_3{
        height: 560.34px;
    }

    #enarticle_2{
        font-size: 155%;
    }

    #endiv_5{
        height: 209px;
    }

    #endiv_6{
        bottom: 60px;
    }
}